<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904959021524-o8ij8mg6hpaul194bhlsu15kuen4kdo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904959021524-o8ij8mg6hpaul194bhlsu15kuen4kdo1</string>
	<key>API_KEY</key>
	<string>AIzaSyCN6nrOt7x5L7gT-JuojZw3OdHEFiXpVxo</string>
	<key>GCM_SENDER_ID</key>
	<string>904959021524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>takeaway-aea0e</string>
	<key>STORAGE_BUCKET</key>
	<string>takeaway-aea0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904959021524:ios:574937d41ca1ba22c0c641</string>
</dict>
</plist>